[project]
name = "auto-portforward"
version = "0.1.0"
description = "Add your description here"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.12"
authors = [{"name" = "soraxas"}]
dependencies = [
  "textual==3.2.0"
]